@CHARSET "UTF-8";

body{
	overflow: hidden;
}
::-webkit-scrollbar
{
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track-piece
{
    width: 11px;
	height: 11px;
}
::-webkit-scrollbar-thumb
{
    border-width: 2 2px;
	border-style: solid;
	border-color: #fff;
	border-radius: 6px;
	background: #d7d7d7;
}
::-webkit-scrollbar-thumb:hover
{
	background: #C3C3C3;
}
#header{
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
#header_nav{
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
}
.ico{
	background: url(../images/diagrams/icons.png) no-repeat;
	display: inline-block;
}
.ico.folder{
	background-position: 0px 0px;
	width: 24px; height: 22px;
}
.ico.folder_like{
	background-position: 0px -21px;
	width: 24px; height: 22px;
}
.ico.attach{
	background-position: -28px 0px;
	width: 24px; height: 22px;
}
.ico.trash{
	background-position: 0px -43px;
	width: 24px; height: 22px;
}
.ico.folder_list{
	background-position: -28px -21px;
	width: 24px; height: 22px;
}
.ico.diagram{
	background-position: -28px -43px;
	width: 24px; height: 22px;
}
.ico.bt{
	width: 18px; height: 18px;
	float:left; margin: 4px 5px 0px 0px;
}
.ico.delete{
	background-position: -55px 0px;
}
.ico.publish{
	background-position: 0px -130px;
}
.ico.view{
	background-position: -55px -22px;
}
.ico.clear_trash{
	background-position: -55px -44px;
}
.ico.restore{
	background-position: -79px 0px;
}
.ico.download{
	background-position: -79px -22px;
	width: 19px;
}
.ico.folder_add{
	background-position: -79px -43px;
}
.ico.dm_add{
	background-position: -103px -44px;
}
.ico.import{
	background-position: -105px -22px;
	width: 19px;
}
.ico.importing{
	background: url("/images/icon/upload_loading.gif") no-repeat;
	margin-top: 6px;
}
.ico.collaborated{
	background-position: -103px -64px;
	width: 15px;
	height: 22px;
}
.ico.teams{
	background-position: -83px -86px;
	width: 16px;
	height: 22px;
}
.ico.edit{
	background-position: -104px 0px;
}
.ico.template{
	background-position: -87px -134px;
	width:12px;
	height:13px;
	margin-top:10px!important;
}
.ico.selftemplate{
	background-position: -58px -134px;
	width:12px;
	height:13px;
	margin-top:11px!important;
}
/***************Layout Styles*******************/
.layout_container{
	position: relative;
}
.bench_layout{
	height: 1000px;
}
.layout_left{
	width: 199px;
	border-right: 1px solid #C6C8CC;
	background: #F0F0F0 url(../images/diagrams/left_bg.jpg) right top repeat-y;
	position: absolute;
}
.layout_main{
	background: #FFF;
	margin-left: 200px;
}
.content_container{
	position: relative;
}
.content_layout{
	overflow: auto;
}
.content_main{
	padding-left: 20px;
}
.content_right{
	position: absolute;
	width: 219px;
	border-left: 1px solid #C6C8CC;
	background: url(../images/diagrams/right_bg.png) repeat-y;
	padding: 0px 10px;
	right: 0px;
	top: 0px;
}
/**************Left Styles**********************/
.layout_left h2{
	text-align: center;
	text-shadow: 1px 1px 1px #FFF;
	color: #666;
}
.left_nav{
	margin-top: 10px;
}
.left_nav .separator{
	margin: 5px auto;
	width: 160px;
	border-top: #DCE1E6 1px solid;
	border-bottom: #F7F9FB 1px solid;
	height: 0px;
}
.left_nav div{
	position:relative;
	cursor: pointer;
	height: 33px;
	line-height: 33px;
	padding-left: 25px;
	font-weight: bold;
}
.left_nav .child{
	padding-left: 40px;
	font-weight: normal;
}
.left_nav div:hover{
	background: url(../images/diagrams/hover_on.png) right 0px no-repeat;
}
.left_nav div.active{
	background: url(../images/diagrams/hover_on.png) right -33px no-repeat;
}
.left_nav div.active:hover{
	background: url(../images/diagrams/hover_on.png) right -33px no-repeat;
}
.left_nav .ico{
	display: inline-block;
	float: left;
	margin: 6px 5px 5px 0px;
}

/**************Main Layout Styles**********************/
.layout_main{
	background: #FFF;
	overflow-x: auto;
	overflow-y: hidden;
}
.dir{
	position:relative;
	background: #F7F7F7;
	border-bottom: 1px solid #E5E5E5;
	height: 38px;
	line-height: 38px;
	padding: 0px 20px;
}
.dir a:last-child{
	color: #888;
}
.dir span{
	color: #888;
}
.dir .split{
	color: #A6A6A6;
	display: inline-block;
	padding: 0px 5px;
}
.search_input{
	float: right;
	height: 20px;
	width: 150px;
	margin-top:6px;
	margin-right: 0px;
	background-color: white;
	padding: 2px 25px 2px 28px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-ms-border-radius: 13px;
	-o-border-radius: 13px;
	border-radius: 13px;
	border: 1px solid #dedbdb;
	line-height: 20px;
	-webkit-box-shadow: rgba(0,0,0,0.1) 0 0px 3px 0 inset;
	-moz-box-shadow: rgba(0,0,0,0.1) 0 0px 3px 0 inset;
	box-shadow: rgba(0,0,0,0.1) 0 0px 3px 0 inset;
	-webkit-transition: width .2s ease-in-out;
	-o-transition: width .2s ease-in-out;
	-moz-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
	background: transparent url(../images/common.png) 0px -275px no-repeat;
}
.search_input:focus{
	width: 230px;
	border: 1px solid #2EB5E5;
	-webkit-box-shadow: rgba(46,181,229,0.5) 0 0px 5px 0;
	-moz-box-shadow: rgba(46,181,229,0.5) 0 0px 5px 0;
	box-shadow: rgba(46,181,229,0.5) 0 0px 5px 0;
}
.main_btns{
	height: 30px;
	padding: 12px 20px 15px 0px;
	margin-left: 20px;
	background: url(../images/diagrams/content_bg.png) left bottom  repeat-x;
}
.main_btns .button, .main_btns .btn_group{
	margin-right: 5px;
	font-weight: normal;
}
.main_btns .right{
	float: right;
}
.main_btns .right li{
	float: left;
}
.viewtype{
	float: right;
	width:80px;
	height:30px;
	display: inline-block;
	margin-left: 3px;
}
.viewtype span{
	overflow: hidden;
	display:block;
	float:left;
	cursor:pointer;
	width:40px;height:30px;
	background:url(../images/diagrams/icons.png) no-repeat;
}
.viewtype .list{
	background-position: 0px -66px;
}
.viewtype .icon{
	background-position: -40px -66px;
}
.viewtype .list.current{
	background-position: 0px -96px;
}
.viewtype .icon.current{
	background-position: -40px -96px;
}
.btn_operation, .btn_publish{
	display: none;
}
.private-link{
	padding:0px 5px;margin:5px 0px;border:1px solid #ddd;height:26px;line-height:26px;
	display:none;
	position: relative;
}
.private-link input{
	border:0px;width:95%;
	color:#4183C4;
	height:26px;line-height:26px;
}
.publish_opt_link{
	line-height:24px;display:none;
}
.private-link-selected{
	box-shadow:0 0 2px #ddd inset;
	-moz-box-shadow:0 0 2px #ddd inset;
	-ms-box-shadow:0 0 2px #ddd inset;
	-o-box-shadow:0 0 2px #ddd inset;
	
}
/***************** Items **********************/
.item_list{
}
.item_list .file_item:hover{
	background-color: #F3F3F3;
}
.item_list .selected{
	background-color: #63ABF7;
	color: #FFF;
}
.item_list .selected a{
	color: #FFF;
}
.item_list .selected:hover{
	background-color: #63ABF7;
	box-shadow: none;
}
.folder_list, .diagram{
	margin: 9px 5px 0px 0px;
	float: left;
}
.item_list .list_item, .header{
	border-bottom: 1px solid #EBEBEB;
	height: 40px;
	position:relative;
	padding-left: 10px;
}
.item_list li.header{
	font-weight: bold;
	color: #555;
}
.item_list li.header:hover{
	background-color: transparent;
}
.item_list .list_item div, .item_list .header div{
	line-height: 40px;
	float:left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.item_list .title{
	width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.item_list .owner{
	width: 20%;
}
.item_list .modified{
	width: 20%;
}
.icon_item{
	float: left;
	margin: 10px 10px 0px 0px;
	padding: 10px;
	border-radius: 5px;
	position:relative;
}
.icon_item:hover{
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.icon_item .thumb{
	border: 1px solid #D7D7D7;
	background-color: #FFF;
	position:  relative;
}
.icon_item .thumb img{
	width: 198px;
	height: 198px;
}
.icon_item .thumb_folder{
	border-color: transparent;
	background-color: transparent;
}
.icon_item .title{
	margin-top: 10px;
	text-align: center;
	width: 100%;
}
#sort_menu li, #coll_role_menu li{
	padding-left: 5px;
}
#sort_menu span, #coll_role_menu span{
	display: inline-block;
	float:left;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.popmenu .selected{
	background: transparent url(../images/common.png) -5px -302px no-repeat;
}
#more_menu_chart a{
	display: block;
}
.items_clear{
	display: block;
	clear: both;
	border-top: 30px solid #FFF;
	border-bottom: 30px solid #FFF;
	text-align: center;
}
/* .publiced{
	padding: 2px 4px;
	font-size: 10px;
	line-height: 10px;
	color: #FFF;
	background-color: #8FCA15;
	-webkit-text-size-adjust:none;
}
.icon_item .publiced{
	position: absolute;
	right: 1px;
	bottom: 1px;
}
.list_item .publiced{
	left: 20px;
	bottom: 1px;
}
.icon_item .is_template_ic{
	position:absolute;
	width:16px;
	height:20px;
	top:3px;
	left:3px;
	background:url(/images/icon/template_icon.png)no-repeat;
	opacity:0.4;
	filter:alpha(opacity=40);
}
.list_item .list_template_ic{
	background: #f8f8f8;
	border: 1px solid #c6c6c6;
	text-align: center;
	float:right;
	color:#7c7575;
	margin-right:40px;
	padding: 2px 4px;
	font-size: 10px;
	line-height: 10px;
	margin-top:10px;
	opacity:0.7;
	filter:alpha(opacity=70);
}
.list_item:hover .list_template_ic{
	opacity:1;
	filter:alpha(opacity=100);
}

 */
.publiced .state_icon{
	background:url(/images/default/diagrams/diagrams_public_edit_clone.png) no-repeat;
	width:20px;height:20px;
	display:block;
}
.icon_item .publiced{
	position: absolute;
	background:#8FCA15;
	width:30px;height:30px;
	right: -10px;
	bottom: -10px;	
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-ms-border-radius:15px;
	-o-border-radius:15px;
	-ms-border-radius:15px;
	-ms-box-shadow: 0 2px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 2px 4px rgba(0,0,0,.2);
	-moz-box-shadow: -1px 1px 1px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.icon_item .publiced .state_icon{
	position:absolute;
	top:5px;left:5px;
}
.icon_item .publiced .is_edit_ic{
	background-position:0px 0px;
}
.icon_item .publiced .is_clone_ic{
	background-position:-20px 0px;
}
.icon_item .publiced .clone_edit_ic{
	background-position:-40px 0px;
}
.icon_item .publiced .publiced_ic{
	background-position:-60px 0px;
}
.list_item .publiced{
	display:inline-block;
	top:7px;
	height:24px;width:34px;position:relative;
	background:#8FCA15;
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: -1px 1px 1px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.list_item .publiced .state_icon{
	position:absolute;
	top:2px;left:7px;
}
.list_item .publiced .list_edit_ic{
	background-position:0px 0px;
}
.list_item .publiced .list_clone_ic{
	background-position:-20px 0px;
}
.list_item .publiced .list_clone_edit_ic{
	background-position:-40px 0px;
}
.list_item .publiced .list_publiced_ic{
	background-position:-60px 0px;
}



/**********使用模板css定义的小三角*******/
/************************** Preview Items******************/
.preview .thumb{
	width: 180px;
	height: 180px;
	margin: 10px auto;
	border: 1px solid #C6C8CC;
}
.preview .thumb img{
	width: 180px;
	height: 180px;
}
.preview .split{
	margin: 10px auto 0px;
	border-top: #EBEBEB 1px solid;
	height: 0px;
}
.pre-box{
	color: #666;	
	border-bottom: 1px solid #E5E5E5;
	padding: 10px 0px;
}
.pre-box h3{
	margin: 0px 0px 5px;	
}
.pre-box ul{
	line-height:20px;padding-left:5px;
}
.pre-box ul li span{
	color:#333;
}
#colla_items{
	border-bottom: 0px;padding: 10px 0px;
}
.sharing_view{
	padding:5px 0px 5px 5px; 
	position: relative;
	cursor: default;
	margin-top: 1px;
}
.colla_item:hover{
	background-color: #E5E5E5;
}
.sharing_view .user{
	float:left; margin-left:5px; width: 162px;
}
.sharing_view .user .row{
	display: block; line-height: 15px;
}
.sharing_view .user .rowspan{
	line-height: 30px;
}
.sharing_view .role{
	color: #888;
}
.sharing_view img{
	width:30px;height:30px;vertical-align: middle;float:left;
	border-radius: 5px;
}
.colla_selected{
	background-color: #63ABF7;
	color: white;
}
.colla_selected .role{
	color: white;
}
.colla_selected:hover{
	background-color: #63ABF7;
}
.user_status{
	display: inline-block; width: 8px; height: 8px;
	background: #7B9726; border-radius: 4px;
}
.user_offline{
	background: #999;
}
.sharing_split{
	border-bottom: 1px dashed #d7d7d7;
	padding-bottom:5px;
	font-weight: bold;
	margin: 5px 0px;
}
.colla_btns{
	margin-bottom: 5px;
}
.colla_btns .button, #delete_colla_confirm .button{
	min-width: 10px;
	line-height: 22px;
	padding: 0px 8px;
}
#delete_colla_confirm .button{
	min-width: 40px;
}
.colla_item_btn{
	display: none;
}
.empty_tip{
	padding-top:135px;
	text-align:center;font-weight:bold;font-size:16px;color:#555;
	background:url(../images/diagrams/folder_empty.png) center top no-repeat;
}
.empty_tip.search{
	background:url(../images/diagrams/folder_empty_search.png) center top no-repeat !important;
}
.empty_tip.trash{
	background:url(../images/diagrams/trash_empty.png) center top no-repeat;
}
.empty_tip.fav{
	background:url(../images/diagrams/fav_empty.png) center top no-repeat;
}
.empty_tip div{
	width:320px;margin:0px auto;
	text-align:center;font-weight:normal;font-size:13px;color:#666;
}

.dlg_content{
	text-align:center;
	border: 1px solid #D9D9D9;
	padding:10px;
	margin-top: 20px;
}
.dlg_buttons{
	text-align: right;
	margin-top: 12px;
}

#folderlist_panel{
	padding: 5px 0px;
}
#folderlist_panel ul li{
	padding-left:20px;
}
#folderlist_panel ul li span{
	display:block;
	padding:5px;
	cursor: pointer;
}
#folderlist_panel ul li span:hover{
	color: white;
	background-color:#4183C4;
	background-image: -moz-linear-gradient(top, #08C, #0077B3);
	background-image: -webkit-linear-gradient(top, #08C, #0077B3);
	background-image: -o-linear-gradient(top, #08C, #0077B3);
	background-image: linear-gradient(to bottom, #08C, #0077B3);
	background-repeat: repeat-x;
}
.folder_tree_icon{
	width:16px;
	height:16px;
	margin-right:5px;
	vertical-align: text-top;
}
#file_tab_attr ul{
	float: left;
	width: 270px;
	text-align: left;
}
#file_tab_attr li{
	padding: 3px 0px;
}
#file_tab_attr span {
	display: inline-block;
	width: 80px;
	text-align: right;
	margin-right: 10px;
}
#file_tab_attr input {
	width: 150px;
}
#file_tab_attr select {
	width: 160px;
}
/* dialog_publish ********************/
.publish_split{
	margin: 5px 0px; height: 1px; background: #E5E5E5;
}
._title{
	font-weight: bold;
	display: inline-block;
	text-align: left;
	margin-right: 5px;
	width: 75px;
}
.decript_title{
	display: inline-block;
	vertical-align:top;
	height: 60px;
	margin-top:10px;
	line-height: 60px;
}
.category_title{
	display: inline-block;
	vertical-align:top;
	height: 30px;
	line-height: 30px;
}
.language_title{
	display: inline-block;
	vertical-align:top;
	height: 30px;
	line-height: 30px;
}
.tags_title{
	display: inline-block;
	vertical-align:top;
	height: 34px;
	line-height: 34px;
}
.feedTags{
	border: 1px solid #D9D9D9;
	border-top: 1px solid silver;
	display: inline-block;
	padding: 5px;
	height: 50px;
	line-height: 50px;
	overflow-y: auto;
	border-radius: 2px;
	width: 400px;
	margin-top: 5px;
}
.feedTags:hover{
	border: 1px solid #B8B8B8;
	border-top: 1px solid #A1A1A1;
}
#tag_input {
	width: 190px;
	height:18px;
	margin:0;
	padding:0;
	line-height:18px;
	border:0 none;
}
.tagitem {
	position:relative;
	display: inline-block;
	margin: 0px 5px 5px 0;
	border: 1px solid #D9D9D9;
	padding-left:5px;
	border-radius: 2px;
	box-shadow: 0px 0px 3px #E5E5E5;
	font-size:12px;
	height:25px;
	line-height:25px;
	white-space:nowrap;
	cursor:default;
	text-align:center;
}
.close-tag {
	background: transparent url(../images/common.png) 0px -95px no-repeat;
	float:right;
	height:16px;
	width:16px;
	margin-left:3px;
	margin-top:2px;
	oeverflow:hidden;
	cursor:pointer;
	display:inline-block;
}
.publish_setting .checkbox{
	display:inline-block;
}
/* dialog_publish NEW */
._nav{
	border-left: 3px solid transparent;
	cursor:pointer;font-weight: bold;
}
._nav:hover{
	border-left: 3px solid #2EB5E5;
}
._nav.action_nav{
	border-left: 3px solid #2EB5E5;
	font-size: 13px;
	color: #2EB5E5;
}
.copy_descr{
	font-weight: bold;
	display: inline-block;
	text-align: left;
}
.iframe_html{
	display: block;width: 305px;height: 140px;margin-top: 5px;margin-bottom: 3px;
}
.embed_size input{
	width: 60px;
}
/********** CSS3 On、OFF watch*****************************/
.edit_pw_protect{
	position: absolute;
	top: 20px;right:20px;
	height: 25px;width: 62px;
	line-height: 25px;
	background: #fff;
	border: 1px solid #888;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
	cursor: pointer;
	-webkit-box-shadow: inset 0px 0px 8px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0px 0px 8px rgba(0,0,0,.3);
	-ms-box-shadow: inset 0px 0px 8px rgba(0,0,0,.3);
	box-shadow: inset 0px 0px 8px rgba(0,0,0,.3);
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	color: #323232;
}
.pw_protect_on, .pw_protect_off{
	display:inline-block;
	width: 31px;height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
}
.pw_protect_watch{
	position: absolute;
	top: -1px;left: -1px;
	width: 28px;height: 25px;
	line-height: 24px;
	background: #fff;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border: 1px solid #888;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	-ms-box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	-webkit-transition: left 0.02s ease-in-out;
	-moz-transition: left 0.02s ease-in-out;
	-o-transition: left 0.02s ease-in-out;
	transition: left 0.02s ease-in-out;
}

.password_input_w{
	position: absolute;
	top: 20px;left: 45%;
	width: 200px;height: 30px;
	line-height: 30px;
	margin-left: -90px;
	display:none;
	-webkit-transition: width 0.02s ease-in-out;
	-moz-transition: width 0.02s ease-in-out;
	-o-transition: width 0.02s ease-in-out;
	transition: width 0.02s ease-in-out;
}
.password_input_w ._pw{
	height: 20px;line-height: 20px;
	width: 130px;
	float:left;
	border-radius:3px 0px 0px 3px;
	-webkit-border-radius:3px 0px 0px 3px;
	-moz-border-radius:3px 0px 0px 3px;
	-o-border-radius:3px 0px 0px 3px;
	-ms-border-radius:3px 0px 0px 3px;
}
.add_pw_btn{
	float:left;
	line-height: 30px;
	padding:0px 3px!important;
	min-width: 30px !important;
	font-size: 10px;
	border-radius:0px 3px 3px 0px;
	-wekbit-border-radius:0px 3px 3px 0px;
	-moz-border-radius:0px 3px 3px 0px;
	-o-border-radius:0px 3px 3px 0px;
	-ms-border-radius:0px 3px 3px 0px;
}
/********** CSS3 On、OFF watch*END****************************/
/****************************publish win style************************************/
.dlg_publish_tip{font-size:15px;padding:0px 0px 8px 0px;line-height:20px;}
.dlg_publish_op{
	font-size:13px;
	width:150px;
	float:left;display:inline-block;
	height:100px;
	cursor:pointer;
	position: relative;
}
.bg{
	background:url(/themes/default/images/diagrams/diagrams.png) no-repeat;
	display: block;
	position: absolute;
	left: 50%;top:20px;
	margin-left: -26px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.bg.back{
	width:52px;
	height:52px;
	background-position: 0px 0px;
}
.bg.edit{
	width:52px;
	height:52px;
	background-position: 0px -56px;
}
.dlg_publish_op:hover .bg{
	opacity: 1.0;
	filter: alpha(opacity=100);
}
/* dialog_publish END ****************************88*/
.export-box{
	margin: 10px 0px 5px;
	color:#5B636B;
}
.export-list{
	padding: 10px 0px; border-bottom:1px solid #EFEFEF;
	font-weight:bold;
}
.export-list li{
	display:inline-block;
}
.export-list .first{
	min-width:320px;
}
.export-list.h{
	font-weight:bold;
}
.export-list input{
	vertical-align: middle;
}
.export-menu{
	line-height:20px; font-weight:bold;
}
.export_des{
	font-weight: normal;
	color: #555;
	margin-left: 15px;
}
.suffix{
	font-weight:normal;
}
#colla_suggest_box h3{
	margin: 10px 0 5px 0;
	line-height: 30px;
	font-size: 15px;
	font-weight: bold;
	color: #5B636B;
	border-bottom: 1px solid #CCC;
}
#colla_suggest_box .alert{
	margin-top: 10px;
}
.colla_suggest{
	max-height: 160px;
	overflow: auto;
}
.colla_suggest li{
	padding: 5px;
	cursor: pointer;
}
.colla_suggest li:hover{
	background-color: #63ABF7;
	color: white;
}
.colla_suggest img{
	width: 30px;
	height: 30px;
	border-radius: 5px;
	vertical-align: middle;
	margin-right: 5px;
}

/* import visio css */
#import_file_window{
	display: none;width: 450px;height:auto;
}
#import_file_window .import_content{
	margin: auto;text-align: center;border: 1px solid #D9D9D9;padding: 20px 5px;margin-top: 20px;
}
#selectfile_btn{
	padding-left: 30px;position:relative;
}
#importVisiopath{
	width: 100%;height: 30px;padding: 0px;
	margin: 0px;border: 0px;left: 0px;
	top: 0px;opacity: 0;filter: alpha(opacity=0);
	position: absolute;
}
.import_file_wraper{
	margin-top: 20px;display: none;
}
.import_file_wraper label{
	display: inline-block;position: relative;
}
.only_visio_file{
	margin: auto;margin-top: 10px;color: #333;font-size: 12px;width: 300px;
}
#fileName{
	width: 320px;margin-left: 10px;cursor: pointer!important;
}
#selectfile_btn, #selectfile_btn input, #selectfile_btn *{
	cursor: pointer !important;
}
#selectfile_btn div.ico{
	position: absolute;
	background: url(../images/diagraming/sprite.png) no-repeat;
	background-position: -40px -380px;
	height: 20px;width: 20px;left: 5px; top: 50%;margin-top: -10px;
}
.import_visio_btns{
	padding-top: 10px;text-align: right;
}
#import_error{
	display:none;padding: 10px;margin:0 auto;margin-top: 10px;
}
#import_success{
	display:none;padding: 10px;margin:0 auto;margin-top: 10px;
}

.sync{
	width:16px;
	height:16px;
	background:url(../images/charts/sync.png) no-repeat;
	display:inline-block;
	cursor:pointer;
	vertical-align: middle;
}
.sync.sina{
	background-position: 0px 0px;
}
.sync.sina_{
	background-position: -21px 0px;
}


